<div class="item-page">

<div class="cart-item product-<%= item.product.id%>">
  <div class="item-image">
    <% for id in 0..9 %>
      <% if image_path(item.product.image).include?('/'+id.to_s+'.jpg') %>
        <%= image_tag('/seed_img/'+id.to_s+'.jpg', width:100, height:100,class: "img-responsive ") %>
      <% end %>
    <%end%>
    
  </div>
  <div class="cart-item-info">

    <h3><%= item.product.name%></h3>
    <h4>$<%= item.product.price%></h4>
    <div class="cart-item-adjust">

        <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, remove_from_cart_product_path(item.product), method: :post, remote: true, class:"delete-button"%>

      <div class="adjust-button">
        <%= link_to "+", adjust_item_product_path(item.product, type:"add"), method: :post, remote: true ,class:"add-button"%>
        <span class="cart-<%= item.product.id%>-qty"><%= item.quantity%></span>
        <%= link_to "-", adjust_item_product_path(item.product, type:"subtract"), method: :post, remote: true ,class:"subtract-button"%>
      </div>

    </div>
  </div>
</div>
</div>
