
<div class="product-page container"
<% if @items.empty? %>
style="width: 100%"
<% end %>
>
  <div class="row">
    
  
      <h1>Product</h1>
    
    <ul class="nav nav-pills nav-pills-center" >
      <li role="presentation" class="active"><%= link_to "全部餐廳", root_path %></li>
      <% @categories.each do |category| %>
        <li role="presentation" class=" <%= "active" if category == @category %>" ><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
    <div class="dropdown" >
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">選擇排序<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "價格由低->高", products_path(@products, type:"low")%></li>
        <li><%= link_to "價格由高->低", products_path(@products, type:"high")%></li>
        <li><%= link_to "新->舊", products_path(@products, type:"new")%></li>
        <li><%= link_to "舊->新", products_path(@products, type:"old")%></li>
        <li><%= link_to "隨機", products_path(@products, type:"random")%></li>
      </ul>
    </div>
    <br>
    <div class="clearfix"></div>
    <br>
    <%@products.each do|product|%>
    
      <div class="product-box ">
        <%= link_to product_path(product) do%>
          <div class="product-box-img">
            <% for id in 0..9 %>
              <% if image_path(product.image).include?('/'+id.to_s+'.jpg') %>
                <%= image_tag('/seed_img/'+id.to_s+'.jpg', class: "img-responsive center-block") %>
              <% end %>
            <%end%>
          </div>

          <h3><%=product.name%></h3>
        <%end%>
        <p><%= truncate(product.description, length: 30)%></p>
        <h4>$<%=product.price%></h4>
        <%=button_to "Add to Cart", add_to_cart_product_path(product),remote: true, class:"btn btn-success btn-add"%>
      </div>
      <%end%>
      <br>
    <div class="container">
      <div class="row">
        <%= paginate @products%>
      </div>
    </div>
    
  </div>
</div>
<% if @items.empty? %>
  <div class="cart-page" style="width: 0%"></div>
<% else %>
  <div class="cart-page ">
    
      <%= render partial: "shared/cart" %>
    
      
  </div>
<% end %>
